<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avicola Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.html" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html">Avicola</a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item ">
                            <a  href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <a href="sales.html" class='sidebar-link'>
                                <i class="bi bi-cart-check-fill"></i>
                                <span>Ventas</span>
                            </a>
                            
                        </li>

                        <li class="sidebar-item ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-file-earmark"></i>
                                <span>Reportes</span>
                            </a>
                            
                        </li>

                        <li class="sidebar-item ">
                            <a href="users.html" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>Usuarios</span>
                            </a>
                           
                        </li>

                       

                        <li class="sidebar-item ">
                            <a  href="cost.html" class='sidebar-link'>
                                <i class="bi bi-cash-stack"></i>
                                <span>Gastos</span>
                            </a>
							
					  <li class="sidebar-item  ">
                            <a href="close.html" class='sidebar-link'>
                                <i class="bi bi-door-closed-fill"></i>
                                <span>Cerrar sesion</span>
                            </a>
                            
                       

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Ventas&nbsp;</h3>
            </div>
            <div class="page-content">
                <section class="row">
					<div class="table-responsive">
                                        <table class="table table-light mb-0">
                                            <thead>
                                                <tr>
                                                    <th>ID_PRODUCTO</th>
                                                    <th>TITULO</th>
                                                    <th>CANTIDAD</th>
													<th>VALOR UNITARIO</th>
													<th>VALOR TOTAL</th>
                                                    <th>ACCION</th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-bold-500">26</td>
                                                    <td>01/072021</td>
                                                    <td class="text-bold-500">Mensual</td>
													<td class="text-bold-500">$200</td>
													<td class="text-bold-500">$1600</td>
                                                    <td><a href="#">Ver -&nbsp;</a> Eliminar</td>
                                                    
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-white text-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">25</td>
                                                    <td>01/072021</td>
                                                    <td class="text-bold-500">Semanal</td>
													<td class="text-bold-500">$200</td>
													<td class="text-bold-500">$1600</td>
                                                    <td><a href="#">Ver -&nbsp;</a>Eliminar</td>
                                                    
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-white text-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">24</td>
                                                    <td>01/072021</td>
                                                    <td class="text-bold-500">Diario</td>
													<td class="text-bold-500">$200</td>
													<td class="text-bold-500">$1600</td>
													<td><a href="#">Ver -&nbsp;</a> Eliminar</a></td>
                                                    
                                                    <td><i
                                                                class="badge-circle badge-circle-white text-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">23</td>
                                                    <td>01/072021</td>
                                                    <td class="text-bold-500">Diario</td>
													<td class="text-bold-500">$200</td>
													<td class="text-bold-500">$1600</td>
													<td><a href="#">Ver</a> - Eliminar</td>
                                                   
                                                    <td><i
                                                                class="badge-circle badge-circle-white text-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">22</td>
                                                    <td>01/072021</td>
                                                    <td class="text-bold-500">Diario</td>
													<td class="text-bold-500">$200</td>
													<td class="text-bold-500">$1600</td>
													<td><a href="#">Ver - Eliminar</a></td>
                                                   
                                                    <td><i
                                                                class="badge-circle badge-circle-white text-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                        <br>
					<button ><a href="createReport.html">Confirmar Compra</a></button>
						<button ><a href="createReport.html">Cancelar Compra</a></button>
							 <br>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Avicola</p>
                    </div>
                    <div class="float-end">
                        <p>Desarollado con  <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="">Grupo II de software</a></p>
                    </div>
                </div>
            </footer>
        </div>
					
                    
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/js/main.js"></script>
</body>

</html>